@font-face {
    font-family: 'Roboto';
    src: url('polices/Roboto/Roboto-Regular.eot');
    src: url('polices/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('polices/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('polices/Roboto/Roboto-Regular.woff') format('woff'),
        url('polices/Roboto/Roboto-Regular.ttf') format('truetype'),
        url('polices/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shrikhand';
    src: url('polices/Shrikhand/Shrikhand-Regular.eot');
    src: url('polices/Shrikhand/Shrikhand-Regular.eot?#iefix') format('embedded-opentype'),
        url('polices/Shrikhand/Shrikhand-Regular.woff2') format('woff2'),
        url('polices/Shrikhand/Shrikhand-Regular.woff') format('woff'),
        url('polices/Shrikhand/Shrikhand-Regular.ttf') format('truetype'),
        url('polices/Shrikhand/Shrikhand-Regular.svg#Shrikhand-Regular') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* Mobile first */
@media all and (max-width: 767px){

    h1, h2, h3{
        font-family: 'Roboto', Arial, sans-serif;
    }
    
   h1{
    padding-left: 10px;
   }
    
    h2{
        font-size: 95%;
    }


    p{
        color:black
    }

    a{
        text-decoration: none;
    }

  body{
    font-family: 'Roboto';
  }

   /* Pages Menu */
            /* menu-header */

    
   .menu_header{
    display:flex;
    flex-direction: row;
    padding-top: 12px;
    padding-bottom:12px;    
  }  

  .home_header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom:12px; 
  }
   
  .brand_menu {
        flex:1;
        font-family: 'Shrikhand';
        /* display:flex;
        flex-direction: row;
        justify-content: center; */
        font-size: 180%;
        padding-top: 0px;
        padding-bottom:0px;
    }

.third_col{
    flex:1;
}

/* brand mis la pour faciliter le rangement, mais appartient à la home page */
    .brand{
    font-family: 'Shrikhand';
    font-size: 180%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom:0px;
}


    .brand_menu p{
        margin-top: 0px;
        margin-bottom:0px;
        margin-left:-20px;
    }

.arrow_header{
  flex:1;
    font-size: 130%;
  justify-self: left;
  align-self: center;
  padding-left: 20px;
 }
 
 
 
            /* Menu-body  */

.menu{
background-color: #f6f6f6;
padding-top: 0px;
padding-bottom: 10px;
border-radius: 45px 45px 0 0;
}


.img{
    position: relative;
    z-index:-1;
     margin-bottom: -58px;
}
.img_size{
 width:100%;  
}

.restaurant_name{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding-top:5px;
    padding-left:10px ;
    padding-right: 40px;
    
}

.restaurant_name h1{
    font-family: 'Shrikhand';
    font-size:200% ;
}

.restaurant_name i{
    
    font-size: 160%;
    font-weight: 30;
}


.categorie {
    display:flex;
    flex-direction:column;
    margin-bottom:20px ;
padding-left: 15px;
padding-right:15px;
}
.categorie h2{
font-weight:lighter ;
padding-bottom: 10px;
}

span{
    text-decoration: underline 3px solid #99E2D0;
    text-underline-offset: 10px;
}

h3{
margin-top: 7px;
margin-bottom:0px;
}
.command{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    padding-top: 15px;
}

.menu_btn{
    display:flex ;
    flex-direction:column;
    align-items: flex-start;
    background-color:#ffffff ;
    border-radius: 17px;
    border:1px #ffffff solid;
    margin-bottom: 15px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 20px;
    box-shadow: 3px 3px 3px grey;
}

.price{
font-weight: bold;
}
 .sub_txt{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
 }
 .sub_txt p{
    margin-bottom: 7px;
    margin-top: 7px;
 }



 /* Page Home */
    section{
        width:100%;
        padding-top:35px;
    }

    .geoloc{
        display:flex;
        justify-content: center;
        background-color: #eaeaea;
    }
    .icon_text{
    display:flex;
    justify-content: center;
 }
 
 .icon{
display: flex;
justify-content: center;
align-items: center;
font-size: 120%;
 }

 .text_loc{
    margin-left:15px;
    font-size: 90%;
    /* Fusion text_menu ???? à voir avec le reste des pages */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ; */
 }
 
    .explore_menu{
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align : center;
        padding-top: 30px;

    }
.explore_menu h1{
    margin-top: 16px;
    margin-bottom: 16px;
}

.explore_menu p {
    margin-top:0px;
    margin-bottom: 25px;
}

.pink_btn{
    height:45px;
    border-radius: 30px;
    border: 1px #f6f6f6 solid;
    box-shadow:0px 3px 4px  grey ;
    color:#ffffff;
    padding-left: 17px;
    padding-right: 17px;
    background-color:#9356DC ;
    border:#9356DC;
    margin-bottom: 50px;

}
/* Fonctionnement */
.btn {
width: 320px;
height:65px;
display: flex;
flex-direction: row;
align-items: center;
margin-bottom: 25px;
padding-left:35px;
background-color: #f6f6f6;
border: 1px #f6f6f6 solid;
border-radius:18px ;
box-shadow:0px 3px 4px  grey ;
}

.choices p{
    font-weight: bold;
    font-size: 110%;
}



.btn:hover{
    background-color: rgba(245,237,255,255); 
    opacity: 0,5;
    color:#9356DC;
    border:rgba(245,237,255,255);
}

.choices {
    display:flex;
    flex-direction: column;
    align-items:center ;
    background-color: #ffffff;
    padding-bottom:40px;
}

.choices h1{
    align-self: flex-start;
    
}

.text_menu{
    margin-left:15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
 }

/* Restaurant */

.restaurant{

    background-color: #f6f6f6;
}

.examples{
display: flex;
flex-direction: column;
justify-content: space-between;
    align-items: center;
padding-bottom: 40px;
}

.example_btn{
    width:310px;
    height:230px ;
    border: 1px solid #f6f6f6;
    border-radius: 17px ;
    box-shadow:0px 2px 2px lightgray ;
}

.example_img{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 17px;
}

/* position: absolute; */




#example_btn1{
    background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat;
    background-origin: content-box ;
    background-size: cover;
    background-position: -15px -55px;
}

#example_btn2{
    background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg")no-repeat;
    background-origin: content-box ;
    background-size: cover;
    background-position: 0px -140px;

}

#example_btn3{
    background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg")no-repeat;
    background-origin: content-box ;
    background-size: cover;
    background-position: -10px -65px;
}

#example_btn4{
    background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg")no-repeat;
    background-origin: content-box ;
    background-size: cover;
    background-position: -10px -65px;
}


.description{
    height:70px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color:#ffffff;
    border-radius: 0 0 17px 17px  ;
    
}

.description_text{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    margin-bottom: 15px;
}

.description h2{
    margin-top:0px ;
    margin-bottom: 0px;
    padding-top: 15px;
    color:black;
    font-weight: bold;
}

.description p{
    font-size:94%;
    margin-top:0px ;
    margin-bottom: 0px;
}

.description_icon{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
;
}


.examples a{
    margin-bottom: 20px ;
}

/* footer */

footer{
    padding: 7px 0px 40px 20px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #353535;
    color:#ffffff;
    text-decoration: none;
}

footer h2{
    font-family: 'Shrikhand';
    font-weight: lighter;
}
footer a {
    color:white;
    padding-bottom: 8px;
    display:flex;
    flex-direction: row;
}
footer p{
    color:white;
    padding-left: 13px;
    margin-top:0px ;
    margin-bottom: 0px;
}
.footer_icon{
   font-size:80%;
   width:10px;
   display:flex;
   align-items: center;
   justify-content: center;
 
}
}